/* RESET */
img{
    max-width: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
	color: unset;
}


/* GENERAL */
h1,
h2,
p{
    font-weight: 600;
}



header{
    min-height: 6rem;
    background-color: #2c3e50;
    color: white;
}

section{
    /* debug */
    min-height: 100px;
}

section:nth-child(odd),
.btn.btn-success{
    background-color: #1abc9c;
    color: white;
}

footer .footer-top{
    background-color: #3a546d;
    /* debug */
    height: 800px;
}

footer .footer-bottom{
    background-color: #2c3e50;
    /* debug */
    height: 200px;
}



header > .container > .row{
    min-height: 6rem;
}


/* UTILS */

.hamburger{
    border: 1px solid #dddddd;
    color: #888888;
}
.dash{
    display: inline-block;
    width:15%;
    height: 0.3rem;
    background-color: white;
}
.dash.dark{
    background-color: #2c3e50;
}

.star{
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
    color: white;
}

.star.dark{
    color: #2c3e50;
}


.image-holder{
    border-radius: 0.8rem;
    overflow: hidden;
}

.btn{
    border:1px solid white;
    color: white;
}

.border-bot{
    border-bottom: 1px solid #cccccc;
}

.message{
    position:relative;
    min-height: 100px;
}

.line-end-message{
    position: absolute;
    bottom: -0.2rem;
    right: 0;
    transform: rotate(20deg);
}

.slash{
    display: inline-block;
    font-size: 0.6rem;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}

.slash.small{
    position: absolute;
    bottom: 0px;
    font-size: 0.4rem;
}