/* RESET */
img{
    max-width: 100%;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
	color: unset;
}


/* GENERAL */
section:nth-child(odd),
.btn.btn-success{
    background-color: #1abc9c;
    color: white;
}
section .container .row h1{
    font-size: 3rem;
}
h1,
h2,
p{
    font-weight: 600;
}

header,
footer .footer-bottom{
    min-height: 6rem;
    background-color: #2c3e50;
    color: white;
}

header > .container > .row{
    height: 6rem;
}
ul > li.circle i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

/* UTILS */

.btn.hamburger{
    border: 1px solid #dddddd;
    color: #888888;
}
.dash{
    display: inline-block;
    width:15%;
    height: 0.3rem;
    background-color: white;
}
.dash.dark{
    background-color: #2c3e50;
}

.star{
    display: inline-block;
    font-size: 2rem;
    vertical-align: middle;
    color: white;
}

.star.dark{
    color: #2c3e50;
}


.image-holder{
    border-radius: 0.8rem;
    overflow: hidden;
}

.btn{
    border:1px solid white;
    color: white;
}

.border-bot{
    border-bottom: 1px solid #cccccc;
}

.message{
    position:relative;
    min-height: 10rem;
}

.line-end-message{
    position: absolute;
    bottom: -0.2rem;
    right: 0;
    transform: rotate(20deg);
}

.slash{
    display: inline-block;
    font-size: 0.6rem;
    position: relative;
    color: rgba(0, 0, 0, 0.5);
}

.slash.small{
    position: absolute;
    bottom: 0px;
    font-size: 0.4rem;
}

.circle{
    width: 3rem;
    height: 3rem;
    border: 1px solid white;
    border-radius: 50%;
    position:relative;
}

/* main */

/* footer */

.footer-top{
    background-color: #3a546d;
    color: white;
}
.start-bots{
    color: #1abc9c;
}
.footer-bottom .container > .row{
    min-height: 6rem;
}
